.DS_Store
notes
resources
tex/paper.aux
tex/paper.bbl
tex/paper.bcf
tex/paper.blg
tex/paper.dvi
tex/paper.fdb_latexmk
tex/paper.fls
tex/paper.log
tex/paper.lol
tex/paper.out
tex/paper.run.xml
tex/paper.synctex.gz
tex/paper.toc
bin/
output/